# HW05: Double ML with XGBoost
(due October 27th)

In [15]:
# Load Data (NLSY)
import pandas as pd
df = pd.read_stata('http://www.stata-press.com/data/r10/nlswork.dta')

In [17]:
import numpy as np
Y = df['ln_wage']
D = df['union']

In [16]:
# fill in X with all predictors that are not colliders
X = df[['age', 'year', #TODO ]]

,idcode,year,birth_yr,age,race,msp,nev_mar,grade,collgrad,not_smsa,...,south,ind_code,occ_code,union,wks_ue,ttl_exp,tenure,hours,wks_work,ln_wage
0,1,70,51,18.0,2,0.0,1.0,12.0,0,0.0,...,0.0,6.0,3.0,NaN,2.0,1.083333,0.083333,20.0,27.0,1.451214
1,1,71,51,19.0,2,1.0,0.0,12.0,0,0.0,...,0.0,4.0,6.0,NaN,22.0,1.275641,0.083333,44.0,10.0,1.028620
2,1,72,51,20.0,2,1.0,0.0,12.0,0,0.0,...,0.0,4.0,6.0,1.0,0.0,2.256410,0.916667,40.0,51.0,1.589977
3,1,73,51,21.0,2,1.0,0.0,12.0,0,0.0,...,0.0,4.0,6.0,NaN,0.0,2.314102,0.083333,40.0,3.0,1.780273
4,1,75,51,23.0,2,1.0,0.0,12.0,0,0.0,...,0.0,5.0,6.0,NaN,0.0,2.775641,0.166667,10.0,24.0,1.777012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28529,5159,80,44,35.0,2,0.0,0.0,12.0,0,0.0,...,1.0,11.0,3.0,1.0,NaN,5.000000,5.000000,39.0,98.0,1.784807
28530,5159,82,44,37.0,2,0.0,0.0,12.0,0,0.0,...,1.0,11.0,3.0,0.0,NaN,7.000000,7.000000,38.0,98.0,1.871802
28531,5159,83,44,38.0,2,0.0,0.0,12.0,0,0.0,...,1.0,11.0,3.0,1.0,0.0,8.076923,8.000000,38.0,56.0,1.843853
28532,5159,85,44,40.0,2,0.0,0.0,12.0,0,0.0,...,1.0,11.0,3.0,1.0,0.0,9.076923,0.000000,40.0,52.0,1.799792
28533,5159,88,44,43.0,2,0.0,0.0,12.0,0,0.0,...,1.0,11.0,3.0,1.0,0.0,10.596154,3.416667,38.0,79.0,1.968204

In [ ]:
# split into sample A and sample B
#TODO

# Within each sample, make a validation set for xgboost early stopping
#TODO

In [3]:
# Step 1. In both samples, use xgboost regressor to predict log wages (outcome Y)
# use early stopping.
from xgboost import XGBRegressor
xgbr = XGBRegressor(#TODO)

In [14]:
# Step 2. In both samples, use xgboost classifier to predict union status (treatment D)
# use early stopping.
from xgboost import XGBClassifier
xgbc = XGBClassifier(#TODO

In [ ]:
# Step 3. Cross-fitting: Form predictions in other sample.

# predict wages in sample A using model trained in sample B:
Y_hat_A = #TODO

# vice versa:
#TODO
    
# predict union status in sample A using model trained in sample B:
#TODO
    
# vice versa:
#TODO

In [ ]:
# Compute residuals for wages and union status.

# residualized wages in samples A and B:
y_tilde_A =  #TODO
y_tilde_B =  #TODO

# residualized union status in samples A and B:
D_tilde_A =  #TODO
D_tilde_B =  #TODO

In [10]:
# as a shortcut, use statsmodels.
# for projects (not homework), we would do this in stata.
!pip install statsmodels

Requirement already satisfied: statsmodels in /home/elliott/anaconda3/lib/python3.7/site-packages (0.11.1)
Requirement already satisfied: patsy>=0.5 in /home/elliott/anaconda3/lib/python3.7/site-packages (from statsmodels) (0.5.1)
Requirement already satisfied: numpy>=1.14 in /home/elliott/anaconda3/lib/python3.7/site-packages (from statsmodels) (1.19.1)
Requirement already satisfied: scipy>=1.0 in /home/elliott/anaconda3/lib/python3.7/site-packages (from statsmodels) (1.5.0)
Requirement already satisfied: pandas>=0.21 in /home/elliott/anaconda3/lib/python3.7/site-packages (from statsmodels) (1.1.0)
Requirement already satisfied: six in /home/elliott/anaconda3/lib/python3.7/site-packages (from patsy>=0.5->statsmodels) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/elliott/anaconda3/lib/python3.7/site-packages (from pandas>=0.21->statsmodels) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /home/elliott/anaconda3/lib/python3.7/site-packages (from pandas>=0.21->statsmodels) (2020.1)

In [11]:
# Step 4. Run OLS regressions and produce DML estimate

import statsmodels.api as sm

model_A = sm.OLS(y_tilde_A, D_tilde_A)
result_A = model_A.fit(cov_type='HC1')
beta_A = result_A.params
se_A = result_A.bse

model_B = sm.OLS(y_tilde_B, D_tilde_B)
result_B = model_B.fit(cov_type='HC1')
beta_B = result_B.params
se_B = result_B.bse

beta = .5 * (beta_A + beta_B)
se = .5 * (se_A + se_B)

print('DML Coeff:',beta)
print('DML S.E.:', se)

NameError: name 'Y_tilde_A' is not defined