# HW06: Python 
(due November 3rd)

# Heterogeneous Treatment Effects with Keras MLP

In [ ]:
import pandas as pd
from tensorflow import keras

### Dataset on RCT study of case management on mental health outcomes.

In [9]:
# show variable labels
pd.read_stata('http://www.homepages.ucl.ac.uk/~rmjwiww/stata/missing/uk500.dta', iterator=True).variable_labels()

{'trialid': 'Trial ID',
 'centreid': 'Trial centre',
 'status': 'Patient status at baseline',
 'age': 'Age in years at baseline',
 'sex': 'Sex',
 'afcarib': 'Ethnic group',
 'ocfabth': "Father's social class at birth",
 'chron1l': 'Months since onset of psychosis, logged',
 'hos94': 'Days in hospital for psychiatric reasons: 2 years before baseline',
 'cprs94': 'Psychopathology at baseline (CPRS)',
 'das94': 'Disability at baseline (DAS)',
 'sat94': '(Dis)satisfaction with services at baseline',
 'rand': 'Randomised group',
 'hos96': 'Days in hospital for psychiatric reasons: 2 years after baseline',
 'cprs96': 'Psychopathology at 2 years (CPRS)',
 'sat96': '(Dis)satisfaction with services at 2 years'}

In [8]:
# Load data 
df = pd.read_stata('http://www.homepages.ucl.ac.uk/~rmjwiww/stata/missing/uk500.dta')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 0 to 499
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   trialid   500 non-null    float64
 1   centreid  500 non-null    category
 2   status    500 non-null    category
 3   age       500 non-null    float64
 4   sex       500 non-null    category
 5   afcarib   500 non-null    category
 6   ocfabth   413 non-null    category
 7   chron1l   500 non-null    float32
 8   hos94     500 non-null    float64
 9   cprs94    500 non-null    float64
 10  das94     489 non-null    float64
 11  sat94     399 non-null    float64
 12  rand      500 non-null    category
 13  hos96     477 non-null    float64
 14  cprs96    421 non-null    float64
 15  sat96     349 non-null    float64
dtypes: category(6), float32(1), float64(9)
memory usage: 44.7 KB

In [13]:
# the post-treatment outcomes to analyze
outcomes = ['sat96', 'hos96', 'cprs96']
df[outcomes].describe()

            sat96       hos96      cprs96
count  349.000000  477.000000  421.000000
mean    17.102794   72.463312   18.624924
std      4.730995  113.007423   13.583216
min      9.000000    0.000000    0.000000
25%     13.500000    0.000000    8.000000
50%     17.000000   22.000000   16.000000
75%     20.000000   98.000000   27.000000
max     32.000000  725.000000   71.000000

In [14]:
# variable describing treatment status
treatvar = 'rand'
df[treatvar].value_counts()

Intensive case management    251
Standard case management     249
Name: rand, dtype: int64

In [15]:
# covariates for predicting the outcome conditional on treatment
covariates = ['status', 'sex', 'sat94', 'ocfabth', 'hos94', 'das94', 'cprs94', 'age', 'afcarib']
df[covariates].describe()

            sat94       hos94       das94      cprs94         age
count  399.000000  500.000000  489.000000  500.000000  500.000000
mean    19.103697  105.774000    1.170811   19.354775   38.096000
std      4.717492  109.528114    0.854318   12.860531   11.630017
min      9.000000    1.000000    0.000000    0.000000   19.000000
25%     16.000000   30.000000    0.500000   10.000000   29.000000
50%     19.000000   68.500000    1.000000   17.000000   36.000000
75%     22.000000  150.000000    1.666666   26.000000   46.000000
max     36.000000  730.000000    4.750000   79.000000   65.000000

In [ ]:
# Subset the dataset by treatment (intensive) and control (standard)
df_treat = #TODO
df_control = #TODO

### Choose one of the three outcomes to analyze. Build two FFNN / MLP models to predict the outcome based on the covariates. The first model should use the treatment dataset, the second model should use the control dataset.

In [ ]:
# build MLP models with at least 2 hidden layers, ReLU activation, batch normalization, dropout
model_treat = keras.models.Sequential()
model_control = keras.models.Sequential()
#TODO

In [19]:
# compile the models
#TODO

In [ ]:
# fit separate models on the treatment dataset and control dataset
# use early stopping
#TODO

### Form predicted outcomes for each data point, using both `model_treat` and `model_control`.

In [ ]:
y_pred_treat = #TODO
y_pred_control = #TODO

### Find the 3 individuals that are most and least repsonsive to treatment and `describe` there covariates.

In [ ]:
#TODO

In [ ]:
# Bonus: explore what features matter for the predicted difference between control and treatment